body {
  min-height: 100vh;
  margin: 0;
}

p {
  padding: 0;
}

.title {
  font-size: 3rem;
  color: chartreuse;
  font-style: oblique;
  text-decoration: none;
}

.title:hover {
  font-weight: bold;
  text-decoration: underline;
}
